@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(233, 229, 229);
}

.cabecalho {
    background-color: rgba(196, 192, 192, 0.315);
}

.begin {
    height: 13vh;
}

.begin > h1 {
    font-family: "Boldonse", system-ui;
    padding-top: 37px;
    display: block;
    text-align: center;
    font-size: 2.5em;
    

}

.lista {
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.lista > li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-radius: 10px;
    width: 20%;
    height: 35%;
}

.lista > li > a {
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(230, 5, 5);
}

.lista > li:hover {
    border: 1px red solid;
    transition: .5s;
}

main > .content {
    width: 100vw;
    height: 60vh;
    position: relative;
}

main > .content > .text {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 70vw;
}

main > .content > .text > h3 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

main > .content > .text > h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

main > .content > .text > p {
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.4;
    font-family: "Montserrat", sans-serif;
}

main > .content > .text > h1 > strong {
    color: red;
}

main > .content > .cv {
    display: flex;
    justify-content: center;
    transform: translate(115px, 370px);
    width: 40vw;
    height: 40px;
}

main > .content > .cv > a {
    color: red;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    border: 1px red solid;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

main > .content > .cv > a:hover {
    background-color: red;
    color: white;
    transition: .5s;
}

main > footer {
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.137);
    height: 9.4vh;
}

main > footer > p {
    font-size: .9em;
    text-align: center;
    transform: translateY(23px);
    font-style: italic;
}