*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
body {
    height: 98vh;
}
.background {
    background: url(fotos/fundo-site.jpg);
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}
.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
    margin-left: 500px;
}
.cabeçalho-link a {
    color: #6e6363cc;
    font-size: 12px;
}
.cabeçalho-link a:hover{
    color: #cc3333;
    transition: 0.3s all;
}
.logo {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #cc3333;
    color: #cc3333;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    margin-right: 200px;
}
button {
    color: #cc3333;
    background: transparent;
    border: solid 1px #cc3333;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

.contato:hover {
    background-color: #cc3333;
    color: #fff;
    transition: 0.5s;
}

.btn:hover {
    background-color: #cc3333;
    color: #fff;
    transition: 0.5s;
}
.container-text {
    padding: 320px 0 0 150px;
}
.text h3{
    color: #6e6363cc;
    font-size: 15px;
    margin-top: 20px;
}
.text h1{
    color: #6e6363cc;
    margin-top: 10px;
}
span {
    color: #cc3333;
}
.text pre {
    color: #6e6363cc;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}
.redes-sociais a{
    font-size: 30px;
    color: #cc3333;
    padding: 6px;
    margin-top: 5px;
}
.btn {
    margin-top: 10px;
}

